.container {
    position: relative;
    width: 1920px;
    height: 1299px;

    background: #F1F0EB;
}

.info_left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px 80px;
    gap: 18px;
    position: absolute;
    width: 332px;
    height: 386px;
    left: 95px;
    top: 223px;
    background: #FFFFFF;
    border-radius: 20px;
}

.info_right {
    position: relative;
    width: 1194px;
    height: 580px;
    left: 485px;
    top: 223px;
    background: #FFFFFF;
    border-radius: 20px;
}

.tableForm {
    margin-top: 2%;
}

table {
    width: 100%;
    margin-top: 1%;
    background-color: #F1F0EB;
    padding: 10px 0 10px 50px;
    border-radius: 20px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.navItem {
    padding: 20px;
}